<div class="container mt-4">
  <h1 class="mb-5 text-center ">Log in</h1>

  <div class="max-w-sm mx-auto">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="mb-5">
        <%= f.label :email, class: "block  text-sm font-medium text-gray-900" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "border border-gray-400 m-2 text-sm rounded-lg p-2.5" %>
      </div>

      <div class="field">
        <%= f.label :password, class: "block  text-sm font-medium text-gray-900" %>
        <%= f.password_field :password, autocomplete: "current-password", class: "border border-gray-400 m-2 text-sm rounded-lg p-2.5" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="m-2">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>

      <div class="actions">
        <%= f.submit "Log in" , class: "text-white bg-blue-700 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300  rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2 " %>
      </div>
    <% end %>
  <div class="row">
          <div class='col-12 mx-auto mt-2 text-center'>
            <%= render "devise/shared/links" %>
          </div>
        </div>
  </div>

</div>
