<div>
<h1>Categories#index</h1>

<%@categories.each  do |category| %>
<p><%= category.name %>-<%= category.is_income ? "Entrada" : "Saída" %></p>
<%= link_to "acessar",category_path(category), class: "text-red-700 " %>
<% end %>
<p>
<%= link_to new_category_path() do %>
  <%= render ButtonComponent.new(label: "Criar Categoria") %>
  <% end %>
</p>
</div>
