<div class="container">
  <h1 class="text-center">Minhas Contas
    <%= link_to new_account_path(), class: "text-gray-500" do %>
      <i class="fa-solid fa-circle-plus"></i>
      <% end %>
  </h1>


  <div class ="flex mt-4 gap-10 ">
    <%@accounts.each  do |account| %>
      <div class="max-w-sm min-w-xs bg-white border border-gray-200 rounded-lg shadow-sm ">
        <div class="p-5 flex flex-col justify-between h-full">
          <div>
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 "><%= account.name %> - <%= account.bank %></h5>
            <p class="mb-3 font-normal text-gray-700 ">Saldo Total: R$ <%= account.total_balance %></p>
            <p class ="text-gray-700">Últimas Transações
              <ul>
                <% account.transactions.order(created_at: :desc).limit(5).each do |transaction| %>
                  <li><%= transaction.description %> : <%= content_tag :span, number_to_currency(transaction.amount, unit: "R$", separator: ",", delimiter: "."), class: transaction.amount.negative? ? "text-red-600" : "text-green-600" %></li>
                <% end %>
              </ul>
            </p>
          </div>
          <div class="mt-4">
            <%= link_to account_path(account), class: " inline-flex items-center px-3 py-2  text-center text-white bg-blue-600 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 " do %>
              Ver mais &nbsp <i class="fa-solid fa-arrow-right"></i>
            <% end %>

          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
